@charset "UTF-8";

h3{
	padding-left:10px;
}
#explain{
	float:left;
	height: 60%;
	width: 45%;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    border:1px solid red;
    background-color:#fa8072;
}

.emphasis{
    font-size: 20px;
    color: #800000;
}
.A{
	height:60%;
	float:left;
	width: 30%;
	opacity: 0.0;
	text-align: center;
	font-size: 15px;
	border:1px solid red;
	background-color:#fa8072;
}
#under{
	hight:20vh;
	float:left;
	height: auto;
	clear:both;
	width:auto;
}

